@using Online_Shop.Data.Repositories
@inject ICategoryRepository _categoryRepository


<a class="nav-link dropdown-toggle text-dark" href="#" id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    دسته‌بندی‌ها
</a>
<ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
    @foreach (var category in _categoryRepository.GetAllCategories())
    {
        <li>
            <a class="dropdown-item" asp-controller="Detail" asp-action="CategoryDetail" asp-route-id="@category.id">
                @category.name
            </a>
        </li>
    }
</ul>

