@model CategoryItemViewModel
@{
    ViewData["Title"] = "دسته بندی " + Model.category.name;
}

<div class="text-center category-header" style="margin-top: 100px;">
    <h2 class="category-title">@Model.category.name</h2>
    <h2 class="category-description">@Model.category.description</h2>
</div>

<div class="product-grid" style="padding: 20px; max-width: 1200px; margin: 0 auto;">
    @foreach (var item in Model.items)
    {
        <partial name="_ShowItemPartial" model="@item" />
    }
</div>
