@{
    ViewData["Title"] = "فروشگاه من";
}

<div class="text-center" style="margin-top: 100px;">
    <h1 class="display-4" style="color: var(--primary-blue); font-weight: 700;">خوش آمدید به @ViewData["Title"]</h1>
    <p style="color: var(--text-dark); font-size: 1.2rem; margin-top: 15px;">
        خوشحالیم که اینجا هستید!
    </p>
</div>
