@{
    ViewData["Title"] = "سبد خرید";
}

<div style="max-width: 960px; margin: 40px auto; padding: 0 15px;">

    <h1 class="category-title" style="margin-bottom: 30px; text-align: center;">سبد خرید شما خالی است!</h1>

</div>
