@{
    ViewData["Title"] = "تماس با ما";
}

<div class="contact-container">
    <h1 class="contact-title">تماس با ما</h1>
    <div class="contact-info">
        <div class="contact-item">
            <span class="contact-icon">&#9742;</span>
            <span class="contact-text">4576 903 0913</span>
        </div>
        <div class="contact-item">
            <span class="contact-icon">&#9993;</span>
            <span class="contact-text">a.h.ayoubain@gmail.com</span>
        </div>
        <div class="contact-item">
            <span class="contact-icon">&#128506;</span>
            <span class="contact-text">نجف آباد</span>
        </div>
    </div>
</div>
