@{
    ViewData["Title"] = "قوانین و شرایط";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center category-header" style="margin-top: 100px;">
    <h2 class="category-description">این وبسایت توسط امیرحسین ایوبیان منتشر شده است و کلیه حقوق آن محفوظ میباشد</h2>
</div>