@model IEnumerable<Item>
@{
    ViewData["Title"] = "لیست محصولات";
}

<div class="text-center" style="margin-top: 100px;">
    <h2 class="display-4" style="color: var(--primary-blue); font-weight: 500;">@ViewData["Title"]</h2>
</div>

<div class="product-grid" style="padding: 20px; max-width: 1200px; margin: 0 auto;">
    @foreach (var item in Model)
    {
        <partial name="_ShowItemPartial" model="@item"/>
    }
</div>

